body{
margin:0;
background:#1e1e1e;
color:white;
font-family:system-ui;
}
.app{
max-width:420px;
margin:auto;
padding:20px;
min-height:100vh;
}
h1{
text-align:center;
border:2px dashed white;
padding:15px;
}
.input{
display:grid;
grid-template-columns:1fr 50px;
gap:10px;
margin:20px 0;
}
input{
background:transparent;
border:none;
border-bottom:2px dashed white;
color:white;
font-size:18px;
padding:10px;
}
button{
background:white;
color:black;
border:none;
font-size:24px;
}
ul{
list-style:none;
padding:0;
border-top:2px dashed white;
}
li{
display:grid;
grid-template-columns:30px 1fr;
border-bottom:2px dashed white;
padding:12px 0;
}
.box{
width:22px;
height:22px;
border:2px solid white;
}
.box.done{
background:white;
}
.done span{
text-decoration:line-through;
text-decoration-thickness:3px;
opacity:0.6;
}
span{font-size:18px;}
